* {
  margin: 0;
  padding: 0;
<<<<<<< HEAD
  text-decoration: none;
}
/* ==================== header ==================== */

=======
}
/* ==================== header ==================== */
#navOpenBtn:hover {
  background-color: lightgray;
}
>>>>>>> ca7d02137f3facfb2d172109ced24f4044d0f249
#magnifyingGlassBtn {
  background-color: #f8f8f8;
  width: 64px;
  height: 42px;
  border: 1px solid lightgray;
  border-radius: 0 20px 20px 0;
  padding: 1px 6px;
  margin-right: 10px;
}
#magnifyingGlassBtn:hover {
  background-color: lightgray;
  border: 1px solid gray;
  box-shadow: 0.5px 0.5px #f8f8f8;
}
.magnifyingGlassBtnImg {
  width: 24px;
  height: 24px;
}
#magnifyingGlassBtnSmallScreen {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  display: none;
}
#microphoneBtn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
#microphoneBtn:hover {
  background-color: lightgray;
}
.microphone {
  width: 24px;
  height: 24px;
}
.headerRightBtns {
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 50%;
  margin-right: 8px;
}
.headerRightBtns:hover {
  background-color: lightgray;
}
.headerRightIcons {
  width: 24px;
  height: 24px;
}
#alarmBtn {
  position: relative;
}
#profileImg {
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 50%;
}

<<<<<<< HEAD
=======
/* ==================== implicit nav ==================== */

>>>>>>> ca7d02137f3facfb2d172109ced24f4044d0f249
/* ==================== explicit nav ==================== */

.exnav-btn-img {
  width: 18px;
  height: 18px;
  margin-right: 24px;
  display: flex;
  justify-content: left;
  align-items: center;
}
#inner-guide-section {
  margin-top: 12px;
  padding-top: 12px;
  border-top: 1px solid lightgray;
  width: fit-content;
  height: fit-content;
}
.subscribing-channel-img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: none;
  margin-right: 24px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.footer-guide:nth-child(3) {
  margin-bottom: 60px;
}

<<<<<<< HEAD
/* ==================== MainVideoItem ==================== */
=======
/* ==================== article ==================== */
>>>>>>> ca7d02137f3facfb2d172109ced24f4044d0f249
.metadatas {
  color: #606060;
  font-size: 14px;
  width: fit-content;
  height: 20px;
}
<<<<<<< HEAD
=======
.detail-btn:hover {
  display: block;
}
/* ==================== shorts article ==================== */
.shortsBtnItem:hover {
  background-color: lightgray;
}
.shortsProfileBtnItem {
  border-radius: 5px;
}

/* ==================== Screen ==================== */

/* ==================== VideoData ==================== */

.videoDataBtns:hover {
  background-color: lightgray;
}

/* ==================== RecommendedVideo ==================== */

/* ==================== Comment ==================== */

.commentThumbBtn:hover {
  background-color: lightgray;
}
#sendReplyBtn:hover {
  background-color: lightgray;
}
/* ==================== CommentsContainer ==================== */

/* ==================== Watch ==================== */
>>>>>>> ca7d02137f3facfb2d172109ced24f4044d0f249
